{% block content %}
<div class="card mt-4">
    <div class="card-body">
        <h5 class="card-title">Mensajería</h5>
        
        <!-- Lista de grupos de chat y amigos -->
        <div class="row">
            <div class="col-md-4">
                <!-- Lista de grupos de chat -->
                <div class="card mb-4">
                    <div class="card-header">
                        Tus Grupos
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            {% for grupo in grupos %}
                                <li class="list-group-item">
                                    <a href="#" class="chat-link" data-toggle="modal" data-target="#grupoModal{{ grupo.id }}">
                                        {{ grupo.nombre }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <!-- Lista de amigos -->
                <div class="card">
                    <div class="card-header">
                        Tus Amigos
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            {% for amigo in amigos %}
                            <li class="list-group-item">
                                <a href="#" class="chat-link" data-toggle="modal" data-target="#amigoModal{{ amigo.id }}">
                                    {% if amigo.usuario1 == request.user %}
                                        {{ amigo.usuario2.username }}
                                    {% else %}
                                        {{ amigo.usuario1.username }}
                                    {% endif %}
                                </a>
                            </li>
                        {% endfor %}
                        
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <!-- Ventana de chat (se muestra en el modal) -->
                {% for grupo in grupos %}
                    <div class="modal fade" id="grupoModal{{ grupo.id }}" tabindex="-1" role="dialog" aria-labelledby="grupoModal{{ grupo.id }}Label" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <img src="" alt="{{ grupo.nombre }}" class="chat-avatar">
                                    <h5 class="modal-title ml-2" id="grupoModal{{ grupo.id }}Label">{{ grupo.nombre }}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <!-- Mensajes del grupo -->
                                    <div class="chat-box">
                                        {% for mensaje in mensajes %}
                                            {% if mensaje.grupo == grupo %}
                                                <div class="card {% if mensaje.emisor == request.user %}sent{% else %}received{% endif %}">
                                                    <div class="card-body">
                                                        <h6 class="card-title">{{ mensaje.emisor.username }}:</h6>
                                                        <p class="card-text">{{ mensaje.texto }}</p>
                                                        <small>{{ mensaje.fecha_mensaje }}</small>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                    <!-- Formulario para enviar mensajes -->
                                    <form method="post" action="{% url 'enviar_mensaje' %}" class="chat-form">
                                        {% csrf_token %}
                                        <input type="hidden" name="grupo.id" value="{{ grupo.grupo_id }}">
                                        <input type="hidden" name="receptor_id" value="{{ amigo.usuario2.id }}">
                                        <div class="input-group">
                                            <textarea name="mensaje" rows="3" placeholder="Escribe un mensaje..." class="form-control"></textarea>
                                            <div class="input-group-append">
                                                <button type="submit" class="btn btn-primary">Enviar</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
        

                <!-- Ventana de chat para amigos -->
                {% for amigo in amigos %}
                    <div class="modal right fade" id="amigoModal{{ amigo.id }}" tabindex="-1" role="dialog" aria-labelledby="amigoModal{{ amigo.id }}Label" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-vertical" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <img src="" alt="{{ amigo.usuario2.username }}" class="chat-avatar">
                                    <h5 class="modal-title ml-2" id="amigoModal{{ amigo.id }}Label">{{ amigo.usuario2.username }}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <!-- Mensajes con el amigo -->
                                    <div class="chat-box">
                                        {% for mensaje in mensajes_amigos %}
                                            {% if request.user == mensaje.emisor and amigo.usuario2 == mensaje.receptor or request.user == mensaje.receptor and amigo.usuario2 == mensaje.emisor %}
                                                <div class="card {% if mensaje.emisor == request.user %}sent{% else %}received{% endif %}">
                                                    <div class="card-body">
                                                        <h6 class="card-title">{{ mensaje.emisor.username }}:</h6>
                                                        <p class="card-text">{{ mensaje.texto }}</p>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                    <!-- Formulario para enviar mensajes al amigo -->
                                    <form method="post" action="{% url 'enviar_mensaje' %}" class="chat-form">
                                        {% csrf_token %}
                                        <input type="hidden" name="receptor_id" value="{{ amigo.usuario2.id }}">
                                        <div class="input-group">
                                            <textarea name="mensaje" rows="3" placeholder="Escribe un mensaje..." class="form-control"></textarea>
                                            <div class="input-group-append">
                                                <button type="submit" class="btn btn-primary">Enviar</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            
        </div>
    </div>
</div>

<script type="text/javascript">
 
</script>

{% endblock %}