{% extends "base.html" %}

{% block extra_head %}
<style>
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
  }

  h2 {
    color: #333;
  }

  form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }

  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  button {
    background-color: #008CBA;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }

  button:hover {
    background-color: #005f5f;
  }
</style>
{% endblock %}

{% block content %}
<div>
  <h2>Solicitar recuperación de contraseña</h2>
  <form method="post">
    {% csrf_token %}
    <label for="email">Correo Electrónico:</label>
    <input type="email" name="email" required>
    <button type="submit">Enviar solicitud</button>
  </form>
</div>
{% endblock %}
