{% extends 'base.html' %}
{% block extra_head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<style>
    .custom-link {
        color: inherit;
        text-decoration: none;
    }
    
    .custom-link:hover {
        text-decoration: underline;
    }   
</style>
{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card mb-4">
              <img src="{{ curso.imagen.url }}" alt="{{ curso.titulo }}" class="card-img-top" style="max-width: 100%; height: auto;">

                <div class="card-body">
                    <h2 class="card-title">{{ curso.titulo }}</h2>
                    <p class="card-text">{{ curso.descripcion }}</p>
                    <p class="card-text"><strong>Precio:</strong> ${{ curso.precio }}</p>
                    {% if user == curso.instructor %}
                        <a href="{% url 'crear_leccion' curso_id=curso.id %}" class="btn btn-primary">Agregar Lección</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-8 offset-md-2">
            <h3 class="mb-3">Lecciones:</h3>
            <div class="list-group">
                {% for leccion in lecciones %}
                    <div class="list-group-item">
                        <div class="d-flex justify-content-between align-items-center">
                            <a href="{% url 'contenido_leccion' leccion.id %}" class="custom-link font-weight-bold">{{ leccion.titulo }}</a>
                            {% if user == curso.instructor %}
                                <a href="{% url 'marcar_como_completada' leccion_id=leccion.id %}" class="btn btn-success btn-sm ml-2"><i class="fas fa-check"></i> Completada</a>
                            {% endif %}
                        </div>
                        <div class="mt-2 d-flex justify-content-between align-items-center">
                            <button class="btn btn-link btn-sm" type="button" data-toggle="collapse" data-target="#detalleLeccion{{ leccion.id }}" aria-expanded="false">
                                Detalles <i class="fas fa-chevron-down detail-icon"></i>
                            </button>
                        </div>
                        <div class="collapse mt-2" id="detalleLeccion{{ leccion.id }}">
                            <small>
                                <p><strong>Resumen:</strong> {{ leccion.resumen }}</p>
                                <p><strong>Tipo de Contenido:</strong> {{ leccion.contenido.tipo }}</p>
                                <p><strong>Duración:</strong> {{ leccion.duracion }}</p>
                            </small>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    
    

    <div class="row mt-4">
        <div class="col-md-8 offset-md-2">
            <h3>Inscripciones:</h3>
            <ul class="list-group">
                {% for inscripcion in inscripciones %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span>{{ inscripcion.usuario.username }}</span>
                        {% if inscripcion.completado %}
                            <span class="badge badge-success">Completado</span>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    {% if user != curso.instructor %}
        <div class="row mt-4">
            <div class="col-md-8 offset-md-2">
                <a href="{% url 'inscribir_curso' curso_id=curso.id %}" class="btn btn-primary">Inscribirse en el Curso</a>
            </div>
        </div>
    {% endif %}
</div>
<br>
<br>
{% block js %}
    <script>
        $(document).ready(function() {
            $('.btn-link').on('click', function() {
                var icon = $(this).find('.detail-icon');
                icon.toggleClass('fa-chevron-down fa-chevron-up');
            });
        });
        
    </script>
{%endblock%}
{% endblock %}
