{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
<!-- Aquí puedes añadir estilos adicionales si lo requieres -->
<link rel="stylesheet" type="text/css" href="{% static 'css/mensaje_pago.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="message-box">
        <h2>Mensaje Importante</h2>
        <p>{{ mensaje }}</p>
       
       
        <a href="{% url 'compras' curso_id=leccion.curso.id %}" class="btn btn-primary">Ir a Compras</a>
    </div>
</div>
<br>
<br>
{% endblock %}
